@page
@model RealEstateWeb.Pages.Properties.IndexModel
@{
}

<h2>Propriétés</h2>

<a asp-page="Create" class="btn btn-success mb-2">Nouvelle propriété</a>

<table class="table">
    <thead>
        <tr>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Type</th>            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Properties)
        {
            <tr>
                <td>@p.AddressLine</td>
                <td>@p.City</td>
                <td>@p.PropertyType.Description</td>
                <td>
                    <a asp-page="Details" asp-route-id="@p.Id">Détails</a>
                </td>
            </tr>
        }
    </tbody>


</table>